.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 15px;
  background-color: #595959;
  width: 100%;
  height: 60vh;
  font-family: "AMitra";
}
.title{
  display: flex;
}
h3 {
  text-align: end;
  padding-right: 10px;
  padding-bottom: 10px;
  color: rgb(228, 220, 220);
  margin-top: 4px;
  
}
.iconi{
  background-color: rgb(255, 217, 0);
  width: 9px;
  height: 25px;
  border-radius: 2px;
  margin-right: 35px;
}

table {
  width: 100%;
  height: 100%;
  color: rgb(209, 203, 203);
  padding-right:20px;
}
tr {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  padding-right: 8px;
}

th,
td {
  width: 14%;
  text-align: center;
}
thead tr {
  border-bottom: 2px solid rgb(226, 217, 217);
  margin-bottom:15px;
  padding-bottom: 9px;
  padding-right:10px;
}
.description {
  border: 1px solid #62859d;
  margin-right: 0;
  color: rgb(226, 217, 217);
  width: 80px;
}
.delet {
  border: 1px solid #a26363;
  margin-right: 0;
  color: rgb(226, 217, 217);
  width: 80px;
}
